# <b>Linear Algebra for CpE

## Laboratory 8: System of Linear Equations

<h5>Coded and Submitted by:
<h5><i>Esguerra, Gian Karl J.<i>
<h5><i>2018113661<i>
<h5><i>58011<i>

### <b>EXERCISE<b>

1. Try to find your own example of a system of linear equations (minimum of 2 equations) and solve them using the inverse equation. Explain the details of your example.

Gian ordered a 5 Burger and 7 Large Fries in  Jollibee with a cost of PHP 730. While Karl ordered a 6 Burger and 4 Large Fries in Mcdo with a cost of PHP 518.
What is the individual price for a single Burger and a Large Fries?

$$ 5x + 7y = 730 $$$$ 6x + 4y = 518  $$

In [12]:
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [22]:
foods = ([
    [5,7],
    [6,4]
])
price = ([
    [730],
    [518]
])
print(foods,'\n',price)

[[5, 7], [6, 4]]
 [[730], [518]]

In [19]:
ind_price = np.linalg.inv(foods) @ price
print('The individual price for a Burger is: PHP{:.2f}'.format(float(ind_price[0])))
print('The individual price for a Large Fries is: PHP{:.2f}'.format(float(ind_price[1])))

### inverse

The individual price for a Burger is: PHP32.09
The individual price for a Large Fries is: PHP81.36

2. Using your example in (1) solve it using np.linalg.solve(). Explain the functions and its difference using the inverse equation.

In [20]:
ind_price2 = np.linalg.solve(foods,price)
print('The individual price of a Burger is: PHP{:.2f}'.format(float(ind_price2[0])))
print('The individual price of a Large Fries is: PHP{:.2f}'.format(float(ind_price2[1])))

The individual price of a Burger is: PHP32.09
The individual price of a Large Fries is: PHP81.36